@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
html {
  background: white;
  color: black;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 1rem;
  font-weight: 300;
  margin-left: 23vw;
  margin-right: 23vw;
  margin-top: 8vh;
}

b {
  font-weight: 600;
}

.parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 15px;
}

.chap_name {
  width: 48.7vw;
  font-weight: 500;
}

.chap_num {
  width: 35px;
  height: 20px;
  margin-right: 0;
}

.page_num {
  text-align: right;
  width: 30px;
}

.page_num, .chap_num, .chap_name {
  border-color: black;
  border-top: 0.75px solid;
  padding-top: 20px;
}

/* .page_num {
  width: 12%;
}
*/
span {
  font-weight: 300 !important;
}

.home_nav {
  color: black;
  text-decoration: none;
  margin-left: 2vw;
}

.home_nav:hover {
  background-color: red;
}
